{% extends 'index.html' %}


{% block title %}Gestion des matières et coéficients{% endblock title %}
{% block help %}Gestion{% endblock help %}

{% block index %}Matières et coeficient{% endblock index %}
    
    
    

{% block content %}
    <hr>

    <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Liste des matières</h5>  
                <!-- Table with stripped rows -->
                <div class="d-flex justify-content-end mb-2">
                    <a id="addsession" class="btn btn-primary rounded-pill" href="{% url 'creatematiere_coef' %}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Code </th>
                      <th scope="col">Matiere</th>
                      <th scope="col">Coéficient</th>
                      {% comment %} <th scope="col">Slug</th> {% endcomment %}
                      <th scope="col">Option</th>
                      
                    </tr>
                  </thead>
                  <tbody>

                    
                    {% for item in matiere_coefs %}
                        <tr>
                            <th scope="row"> {{forloop.counter}} </th>
                            <td> {{item}} </td>
                            <td> {{item.matiere}} </td>
                            <td> {{item.coef}} </td>

                            <td>
                                <!-- {% if not item.is_active %}                                                           
                                    <a href="" class="btn btn-primary rounded-pill"> Utiliser </a>                                
                                {% endif %} -->
                                <a href="{% url 'updatematiere_coef' item.id %}" class="btn btn-warning rounded-pill"> <i class="fa fa-pen "></i> </a>  
                                <a href="{% url 'deletematiere_coef' item.id %}" class="btn btn-danger rounded-pill"> <i class="fa fa-trash "></i>  </a>  
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>


    
      <div class="modal fade" id="staticBackdrop" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Ajoutez une session <span id="name"> </span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="data"></div>
            </div>
           
          </div>
        </div>
    </div>
    
{% endblock content %}


{% block scripts %}
{% comment %} 
<script>
    
    $('#addsession').on('click',function(){
       
        $('#staticBackdrop').modal('show');
        
        $.ajax({
            url: $(this).data('url'),   
            type: 'get',
            dataType: 'json',
            success: function (data){
                $("#data").html(data.content);
            },
            beforeSend:function() {   
            },
        });

    });

    $("#btn-submit").on('click', function(){
        alert()
    });
    $('#form-session').submit( function(ev){
        
        $('#addsession').on('click',function(){
       
            $('#staticBackdrop').modal('show');
            
            $.ajax({
                url: $(this).data('url'),   
                type: 'get',
                dataType: 'json',
                success: function (data){
                    $("#data").html(data.content);
                },
                beforeSend:function() {   
                },
            });
    
        });
    });
    
</script> {% endcomment %}
{% endblock scripts %}
    
    